body {
	background: black;
	font-family: "Coming Soon", cursive;
	font-weight: bold;
}

.postcard {
	background-color: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
	padding: 10px;
}

.postcard-header img {
	width: 50px;
	height: 50px;
}

.postcard-header h1 {
	width: 350px;
	margin: 0;
}

.postcard-body {
	display: flex;
}

.body-left p:first-child {
	margin-top: 0px;
}

.body-left,
.body-right {
	padding: 10px;
	font-size: 90%;
}

input {
	border: none;
	border-bottom: 1px solid grey;
	font-family: "Coming Soon", cursive;
	font-weight: bold;
}

.postcard-footer {
	text-align: center;
}

button {
	background-color: darkgray;
	padding: 6px;
	font-family: "Coming Soon", cursive;
	font-weight: bold;
	border: none;
	border-bottom: 1px solid gray;
}
